[submodule "3rdparty/cmake-init"]
	path = 3rdparty/cmake-init
	url = https://github.com/friendlyanon/cmake-init.git
[submodule "3rdparty/Modern-CPP-Programming-Cookbook-Second-Edition"]
	path = 3rdparty/Modern-CPP-Programming-Cookbook-Second-Edition
	url = https://github.com/PacktPublishing/Modern-CPP-Programming-Cookbook-Second-Edition.git
[submodule "3rdparty/sanitizers"]
	path = 3rdparty/sanitizers
	url = https://github.com/google/sanitizers.git
[submodule "3rdparty/modern-cpp-tutorial"]
	path = 3rdparty/modern-cpp-tutorial
	url = https://github.com/changkun/modern-cpp-tutorial.git
[submodule "3rdparty/MetaNN"]
	path = 3rdparty/MetaNN
	url = https://github.com/liwei-cpp/MetaNN.git
	branch = book_v2
[submodule "3rdparty/Mastering-ROS-for-Robotics-Programming-Third-edition"]
	path = 3rdparty/Mastering-ROS-for-Robotics-Programming-Third-edition
	url = https://github.com/PacktPublishing/Mastering-ROS-for-Robotics-Programming-Third-edition.git
[submodule "3rdparty/cpprestsdk"]
	path = 3rdparty/cpprestsdk
	url = https://github.com/microsoft/cpprestsdk.git
